body {
  background-image: url("italyflag.jpg");
  background-size: 100%;
}

.jumbotron{
  opacity: 0.9;
}
img{
  width: 100%;
}

.modal-title{
  text-align: center;
}

.story{
  font-family: cursive;
}

.info{
  font-size: 20px;

}
